<div class="container">
<h1> Representatives:</h1>

<ul>
	<% @representatives.each do |representative| %>
		<li><a href="/representatives/<%= representative.id %>"><%= representative.name %></a></li>
	<%end%>
</ul>

<a href="/representatives/new"><button class= "btn btn-primary">Add Representative</button></a>

</div>