<div class="container">
<h1> Representatives:</h1>

<ul>
	<% @representatives.each do |representative| %>
		<li><%= representative.name %></li>
	<%end%>
</ul>

	<div class="col-sm-4">
  	<h3>Search By State:</h3>
	  <form class='form-group' action='/states' method='post'>
	    <label for="name">Enter State Initials</label>
	    <input class='form-control' type='text' name='name'>
	    <br>
	    <button class='btn btn-primary'>Search</button>
	  </form>
	  <a href="/">Go back</a>
	</div>
</div>