<% if @representative.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @representative.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<div class="container">
<h1>Add New Representative</h1>
    <div class="col-sm-4">
      <form class='form-group' action='/representatives' method='post'>
        
        <label for="name">Representative Name</label>
        <input class='form-control' type='text' name='representative[name]'>

        <label for='party'>Party Affiliation</label>
        <input class='form-control' type='text' name='representative[party]'>
        <label for='state'>State</label>
        <input class='form-control' type='text' name='state'>
        <br>
        <button class='btn btn-primary'>Add Representative</button>
      </form>
    </div>
</div>