<h1><%= @representative.name %></h1>

<p>Party: <%= @representative.party %></p>
<p>State: <%= @representative.states.name %></p>

<p><a href="/representatives">Return to representative listing</a></p>