<div class="container">
<h1><%= @representative.name %></h1>

<h3>Party: <%= @representative.party %></h3>

<a href="/representatives/<%= @representative.id %>/edit"><button class='btn btn-primary'>Edit Representative</button></a>


<p><a href="/representatives">Return to representative listing</a></p>
</div>